{% comment %}
 Renders gift wrapper input feilds in cart
  Usage:
    {% render 'cart-item-gift-wrap-update', color_schema: section.settings.show_vendor %}
{% endcomment %}

<cart-item-gift-wrapper data-line="{{ index }}" data-product-id="{{ item.product.id }}">
  <div> 
    <details class="tw-group tw-peer">
      <summary class="tw-flex tw-items-center">
        <input
          type="checkbox"
          checked
          name="wrapper-checkbox"
          id="wrapper-checkbox-{{index}}"
          data-gift-id="{{ settings.gift_wrap_product.first_available_variant.id }}"
          class="!tw-w-6 !tw-h-6 tw-accent-black"
        >
        <label for="wrapper-checkbox-{{index}}" class="tw-font-medium tw-text-gray-800 tw-w-max tw-whitespace-nowrap">
          {{- settings.gift_wrap_message -}}
        </label>
        <div class="wrapper-edit tw-flex tw-grow group-open:tw-hidden tw-items-center tw-gap-x-1 tw-justify-end tw-cursor-pointer ">
          <span class="tw-underline tw-underline-offset-4">Edit</span> {{- 'icon-edit.svg' | inline_asset_content -}}
        </div>
        <div class="wrapper-close tw-grow tw-hidden group-open:tw-flex tw-gap-x-1 tw-items-center tw-cursor-pointer tw-justify-end">
          <span class="tw-underline tw-underline-offset-4">Cancel</span> {{- 'icon-close-small.svg' | inline_asset_content -}}
        </div>
      </summary>
      
      <div class="tw-py-6">
          <label for="wrapper-to" class="tw-font-medium tw-text-gray-700">To</label>
          <input
            type="text"
            name="wrapper-to"
            maxlength="{{ settings.gift_wrap_to_max_length }}"
            placeholder="Enter recipient's name"
            value="{{ item.properties.gift_to }}"
            class="tw-w-full tw-p-2 tw-my-4 tw-font-medium tw-border tw-border-gray-300 tw-rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
  
          <label for="wrapper-from" class="tw-font-medium tw-text-gray-700">From</label>
          <input
            type="text"
            maxlength="{{ settings.gift_wrap_from_max_length }}"
            name="wrapper-from"
            placeholder="Enter your name"
            value="{{ item.properties.gift_from }}"
            class="tw-w-full tw-p-2 tw-my-4 tw-font-medium tw-border tw-border-gray-300 tw-rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          >

          <label for="wrapper-message" class="tw-font-medium tw-text-gray-700">Gift Wrap Message:</label>
          <textarea
            name="wrapper-message"
            rows="4"
            placeholder="Enter a gift message"
            maxlength="{{ settings.gift_wrap_message_max_length }}"
            class="tw-w-full tw-p-2 tw-my-4 tw-font-medium tw-border tw-border-gray-300 tw-rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          >{{ item.properties.gift_massage }}</textarea>
      </div>
      <span class="button button button--primary  tw-w-full update-wrapper-info tw-w-ful tw-px-4 tw-py-2 tw-rounded-md tw-cursor-pointer">
        Update
      </span>
    </details>
    <div class="tw-mt-2 peer-open:tw-hidden">
      <p class="wrapper-info tw-text-gray-600 ">
        To: {{ item.properties.gift_to }} / From: {{ item.properties.gift_from }} / Message: "{{ item.properties.gift_massage }}"
      </p>
    </div>
  </div>
</cart-item-gift-wrapper>
